<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile >
        <div class="d-flex flex-column align-items-center">
            <a mat-icon-button routerLink="transactions"
                routerLinkActive="mat-primary"><mat-icon>receipt_long</mat-icon>
            </a>
            <div>Transactions</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="d-flex flex-column align-items-center">
            <a mat-icon-button routerLink="accounts" routerLinkActive="mat-primary"><mat-icon>account_balance</mat-icon></a>
            <div>Accounts</div>
        </div>
    </mat-grid-tile>
</mat-grid-list>