<mat-grid-list cols="3" rowHeight="4rem">
    <mat-grid-tile>
        <div class="d-flex flex-column align-items-center">
            <div>Income</div>
            <div class="text-primary">{{ credits }}</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="d-flex flex-column align-items-center">
            <div>Expenses</div>
            <div class="text-danger">{{ debits }}</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="d-flex flex-column align-items-center">
            <div class="d-block">Total</div>
            <div class="d-block">{{ total }}</div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>