<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <button mat-icon-button routerLink="../">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <span style="vertical-align: super;">
                <h2 style="display: inline-block;">Manage Category</h2>
            </span>
        </div>
        <div class="col-2">
            <a mat-icon-button [routerLink]="['new']">
                <mat-icon>add</mat-icon>
            </a>
        </div>
    </div>
    <div class="row">
        <app-category-list></app-category-list>
    </div>
</div>
<app-footer></app-footer>