<div class="container-fluid stats-container">
    <div class="row mt-2 mb-2">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Chart Type</mat-label>
            <mat-select [(value)]="chartType">
                <mat-option value="allocation">Allocation</mat-option>
                <mat-option value="burndown">Burndown</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <ng-container *ngIf="chartType === 'allocation'">
        <app-piechart />
    </ng-container>
    <ng-container *ngIf="chartType === 'burndown'">
        <app-burndownchart />
    </ng-container>
</div>