<div class="container-fluid stats-container">
    <div class="row">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="onToogleType($event)">
            <mat-button-toggle  class="col-6" value="CREDIT">Income</mat-button-toggle>
            <mat-button-toggle checked class="col-6" value="DEBIT">Expense</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div #pieChart></div>
    <hr>
    @for (stat of stats; track $index) {
        <div class="row">
            <div class="col-8">{{ stat.categoryName }}</div>
            <div class="col-4">{{ stat.amount }}</div>
        </div>
        <hr>
    }
</div>