<mat-card class="m-1">
    <mat-card-subtitle>
        <app-transaction-item-summary [date]="transactionDate"
            [transactions]="transactions"></app-transaction-item-summary>
    </mat-card-subtitle>
    <mat-card-content>
        <mat-divider></mat-divider>
        <div *ngFor="let transaction of transactions">
            @if(transaction.transactionType === transactionType.TRANSFER){
            <mat-grid-list cols="4" rowHeight="3rem" (click)="onClick(transaction)">
                <mat-grid-tile colspan="2"> {{ transaction.accountName }} <mat-icon>arrow_forward</mat-icon> {{
                    transaction.toName}}</mat-grid-tile>
                <mat-grid-tile>{{ transaction.note }}</mat-grid-tile>
                <mat-grid-tile>
                    <div>{{transaction.amount | currency : 'INR'}}</div>
                </mat-grid-tile>
                <mat-divider></mat-divider>
            </mat-grid-list>
            }
            @else{
            <mat-grid-list cols="4" rowHeight="3rem" (click)="onClick(transaction)">
                <mat-grid-tile colspan="2">
                    {{ transaction.accountName }} <mat-icon>arrow_forward</mat-icon>{{ transaction.categoryName }}
                </mat-grid-tile>
                <mat-grid-tile>
                    {{transaction.note}}
                </mat-grid-tile>
                <mat-grid-tile>
                    <div
                        [ngClass]="{'text-danger': transaction.transactionType === transactionType.DEBIT , 'text-primary': transaction.transactionType === transactionType.CREDIT}">
                        {{transaction.amount | currency : 'INR'}}</div>
                </mat-grid-tile>
                <mat-divider></mat-divider>
            </mat-grid-list>
            }
        </div>
    </mat-card-content>
</mat-card>