<mat-card class="m-1">
    <mat-card-subtitle>
        <app-transaction-item-summary [date]="transactionDate.toLocaleDateString('en-IN')"
            [transactions]="transactions"></app-transaction-item-summary>
    </mat-card-subtitle>
    <mat-card-content>
        <mat-divider></mat-divider>
        <div *ngFor="let transaction of transactions">
            <mat-grid-list cols="3" rowHeight="3rem" (click)="onClick(transaction)">
                @if(transaction.transactionType === transactionType.TRANSFER){
                    <mat-grid-tile> {{ transaction.accountName }} -> {{ transaction.toName}}</mat-grid-tile>
                    <mat-grid-tile>{{ transaction.note }}</mat-grid-tile>
                }
                @else{
                    <mat-grid-tile>
                        {{ transaction.categoryName }}
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="d-flex flex-column align-items-center">
                            <div>{{transaction.note}}</div>
                            <div>{{transaction.accountName}}</div>
                        </div>
                    </mat-grid-tile>
                }
                <mat-grid-tile >
                    <div
                        [ngClass]="{'text-danger': transaction.transactionType === transactionType.DEBIT , 'text-primary': transaction.transactionType === transactionType.CREDIT}">
                        {{transaction.amount}}</div>
                </mat-grid-tile>
                <mat-divider></mat-divider>
            </mat-grid-list>
        </div>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>