<div class="container-fluid">
    <div class="row">
        <button class="col-1" mat-icon-button (click)="onBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="col-8 mt-auto mb-auto">
            <h2 class="m-0">{{ header }}</h2>
        </div>
        <div class="col-2" *ngIf="editMode">
            <button mat-icon-button (click)="onDelete()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <input *ngIf="false" type="number" formControlName="id">
        <div class="row">
            <mat-button-toggle-group formControlName="transactionType" name="fontStyle" aria-label="Font Style">
                <mat-button-toggle class="col-4" value="CREDIT">Income</mat-button-toggle>
                <mat-button-toggle class="col-4" value="DEBIT">Expense</mat-button-toggle>
                <mat-button-toggle class="col-4" value="TRANSFER">Transfer</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="row mt-3 align-items-center">
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Account</mat-label>
                <mat-select formControlName='accountId'>
                    @for (account of accounts; track account.id) {
                    <mat-option [value]="account.id">{{account.name}}</mat-option>
                    }
                </mat-select>
                @if (formGroup.controls.accountId.touched && formGroup.controls.accountId.hasError('required')) {
                    <mat-error>Account is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            @if ( formGroup.controls.toAccountId ) {
            <mat-form-field>
                <mat-label>To</mat-label>
                <mat-select formControlName='toAccountId'>
                    @for (account of accounts; track account.id) {
                    <mat-option [value]="account.id">{{account.name}}</mat-option>
                    }
                </mat-select>
                @if (formGroup.controls.toAccountId.touched && formGroup.controls.toAccountId.hasError('required')) {
                    <mat-error>To Account is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            }
            @if (formGroup.controls.categoryId) {
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select formControlName='categoryId'>
                    @for (category of categories; track category.id) {
                    <mat-option [value]="category.id">{{category.name}}</mat-option>
                    }
                </mat-select>
                @if (formGroup.controls.categoryId.touched && formGroup.controls.categoryId.hasError('required')) {
                    <mat-error>Category is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            }
            <mat-form-field>
                <mat-label>Amount</mat-label>
                <input matInput type="number" formControlName="amount">
                @if (formGroup.controls.amount.hasError('pattern') && !formGroup.controls.amount.hasError('required')) {
                    <mat-error>Please enter an amount upto 2 decimals</mat-error>
                }
                @if (formGroup.controls.amount.touched && formGroup.controls.amount.hasError('required')) {
                    <mat-error>Amount is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Note</mat-label>
                <input matInput formControlName="note">
            </mat-form-field>
            <button class="col-6" [disabled]="formGroup.invalid" mat-raised-button color="primary" type="submit">
                Save</button>
            <button class="col-6" mat-raised-button color="accent" type="button" (click)="onBack()">Cancel</button>
        </div>
    </form>
</div>