<h2>Categories</h2>
<hr>
<mat-button-toggle-group class="col-12" (change)="onChange($event)">
    <mat-button-toggle class="col-6" value="CREDIT" checked="true">Income</mat-button-toggle>
    <mat-button-toggle class="col-6" value="DEBIT">Expense</mat-button-toggle>
</mat-button-toggle-group>
<hr>
<table class="table table-striped">
    <tbody>
        @for (category of categories; track category.id) {
            <tr [routerLink]="[category.id]">
                <td>{{ category.name }}</td>
            </tr>
        }
    </tbody>
</table>