<h2>Categories</h2>
<hr>
<mat-button-toggle-group class="col-12" (change)="onChange($event)">
    <mat-button-toggle class="col-6" value="CREDIT" checked="true">Income</mat-button-toggle>
    <mat-button-toggle class="col-6" value="DEBIT">Expense</mat-button-toggle>
</mat-button-toggle-group>
<hr>
<div class="row" class="category-list-container">
    @for (category of categories; track category.id) {
    <div class="col-12" [routerLink]="[category.id]">
        {{ category.name }}
    </div>
    <hr>
    }
</div>