<h2>Accounts</h2>
<hr>

@for (account of accounts; track account.id) {
    <div class="row" [routerLink]="[account.id]">
        <div class="col-6">
            <div 
            class="d-flex justify-content-start"
            >{{ account.name }}</div> 
        </div>
        <div class="col-6">
            <div 
            class="d-flex justify-content-end"
            [ngClass]=" account.balance < 0 ? 'text-danger' : 'text-primary'"
            >{{ account.balance | currency : 'INR'}}</div> 
        </div>
    </div>
    <hr>
}