<h2>Accounts</h2>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Account Name</th>
            <th class="text-end">Balance</th>
        </tr>
    </thead>
    <tbody>
        @for (account of accounts; track account.id) {
            <tr [routerLink]="[account.id]" style="cursor:pointer;">
                <td>{{ account.name }}</td>
                <td 
                    class="text-end"
                    [ngClass]="account.balance < 0 ? 'text-danger' : 'text-primary'"
                >
                    {{ account.balance | currency : 'INR' }}
                </td>
            </tr>
        }
    </tbody>
</table>
