<div class="burndown-chart-container">
    <div #burndownChart></div>
</div>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th class="text-end">Balance</th>
            <th class="text-end">Change</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let day of burndownData; let i = index; trackBy: trackByIndex">
            <td>{{ day.date }}</td>
            <td class="text-end" [ngClass]="{'text-primary': day.total > 0, 'text-danger': day.total < 0}">
                {{ day.total | currency : 'INR' }}
            </td>
            <td class="text-end" [ngClass]="{'text-primary': day.change > 0, 'text-danger': day.change < 0}">
                {{ day.change | currency : 'INR' }}
            </td>
        </tr>
    </tbody>
</table>