<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <a mat-icon-button [routerLink]="['../']">
                <mat-icon>arrow_back</mat-icon>
            </a>
            <span style="vertical-align: super;">
                <h2 style="display: inline-block;" *ngIf="!editMode">Add Category</h2>
                <h2 style="display: inline-block;" *ngIf="editMode">Update Category</h2>
            </span>
        </div>
        <div class="col-2" *ngIf="editMode">
            <button mat-icon-button (click)="onDelete()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <form class="col-12" (ngSubmit)="onSubmit()" [formGroup]="formGroup">
            <mat-form-field class="col-12">
                <mat-label>Category Name</mat-label>
                <input matInput formControlName="name">
                @if (formGroup.controls.name.touched && formGroup.controls.name.hasError('required')) {
                    <mat-error>Category Name is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>Category Type</mat-label>
                <mat-select formControlName='transactionType'>
                    <mat-option value="CREDIT">Income</mat-option>
                    <mat-option value="DEBIT">Expense</mat-option>
                </mat-select>
                @if (formGroup.controls.transactionType.touched && formGroup.controls.transactionType.hasError('required')) {
                    <mat-error>Category Type is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <button class="col-6" [disabled]="formGroup.invalid" mat-raised-button color="primary" type="submit">
                Save</button>
            <a class="col-6" mat-raised-button color="accent" [routerLink]="['../']">Cancel</a>
        </form>
    </div>
</div>